//==============================================================================
//  Module: Article list item
//==============================================================================

.articleListItem {
  box-sizing: border-box;

  & > a {
    position: relative;
    display: block;
    color: $key-color-2;

    img {
      vertical-align: top;
      transition-duration: .5s;
      transition-property: opacity;
      transition-timing-function: ease;
      backface-visibility: hidden;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: $key-color-2;
      content: "";
      transform: scaleX(0);
      transition-duration: .3s;
      transition-property: transform;
      transition-timing-function: ease-out;
    }

    &:hover {
      color: $key-color-2;

      figure {
        background-color: $key-color-2;
      }

      img {
        opacity: .6;
      }

      &::after {
        transform: scaleX(1);
      }
    }

    &:visited {
      color: $key-color-2;
    }
  }
}

.articleListItem__eyecatch {
  @extend %image-fit;

  margin: 0 0 $mlv5;
  background-image: url($base-image + "/svg/bg.svg");
  background-position: center center;
  background-repeat: repeat;
}

.articleListItem__title {
  @include fontSize(18);@include lineclamp(1);@include linkColor($base-color, $base-color, "none", "none", $base-color, true);@include respondTo(small) {
    @include lineclamp(2);
  }

  margin: 0;
  font-weight: normal;
  line-height: 1.5;
}

.articleListItem__body {
  display: none;
}
